<?xml version="1.0"?>
<config>
    <modules>
        <Sunarc_Skipcheckout>
            <version>1.0.0</version>
        </Sunarc_Skipcheckout>
    </modules>
    <global>
        <blocks>
            <sunarc_skipcheckout>
                <class>Sunarc_Skipcheckout_Block</class>
            </sunarc_skipcheckout>
        </blocks>
        <models>
            <sunarc_skipcheckout>
                <class>Sunarc_Skipcheckout_Model</class>
            </sunarc_skipcheckout>
        </models>
        <helpers>
            <sunarc_skipcheckout>
                <class>Sunarc_Skipcheckout_Helper</class>
            </sunarc_skipcheckout>
        </helpers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <checkSkipCheckout>
                        <class>Sunarc_Skipcheckout_Model_Observer</class>
                        <method>checkSkipCheckout</method>
                    </checkSkipCheckout>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sunarc_skipcheckout before="Mage_Adminhtml">Sunarc_Skipcheckout_Adminhtml</sunarc_skipcheckout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sunarc_skipcheckout>
                    <file>sunarc/skipcheckout.xml</file>
                </sunarc_skipcheckout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <!-- Sets up the frontend URL we need to hit to run code, needs to be a unique handle (use the extension name a prefix?)-->
            <sunarc_skipcheckout>
                <use>standard</use>
                <args>
                    <module>Sunarc_Skipcheckout</module>
                    <frontName>skipcheckout</frontName>
                </args>
            </sunarc_skipcheckout>
        </routers>
        <default>
            <router>skipcheckout</router>
        </default>
        <layout>
            <updates>
                <sunarc_skipcheckout>
                    <file>sunarc/skipcheckout/skipcheckout.xml</file>
                </sunarc_skipcheckout>
            </updates>
        </layout>
    </frontend>
</config>